<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="CarServiceModelContainer" connectionString="metadata=res://*/CarServiceModel.csdl|res://*/CarServiceModel.ssdl|res://*/CarServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=AUTO;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICarService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/CarService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICarService" contract="ICarService"
                name="BasicHttpBinding_ICarService" />
    </client>
  </system.serviceModel>
</configuration>